@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    color: white;
    text-decoration: none;
}

body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    color: white;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #564B54, #201F1F);
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(transparent, #201f1f 10% 90%, transparent);
}

.mainNav {
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 8%;
    width: 60%;
    background-color: #ffffff1a;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
}

.mainNav>a{
    height: 80%;
    width: auto;
}

.mainNav>a>.logo {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.mainNav>.navSection {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mainNav>.navSection>a {
    font-size: 20px;
    font-weight: 900;
}

main {
    width: auto;
    height: auto;
    margin: 10rem 20em 10rem 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main>h1{
    font-size: 6rem;
    font-weight: 900;
}

main>.imgMain{
    margin-top: 5rem;
    height: 20rem;
    border-radius: 2rem;
    width: 80%;
    background-image: url(Images/notfound.png);
}

main>.txt{
    margin-top: 5rem;
    width: 80%;
    font-size: 1.5rem;
}

main>.txt>h2{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
}