@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    color: white;
    text-decoration: none;
}

body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    color: white;
    font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(transparent, #201f1f 10% 90%, transparent);
}

.mainNav {
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 8%;
    width: 60%;
    background-color: #ffffff1a;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
}

.mainNav>a{
    height: 80%;
    width: auto;
}

.mainNav>a>.logo {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.mainNav>.navSection {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mainNav>.navSection>a {
    font-size: 20px;
    font-weight: 900;
}

.landing {
    height: 100vh;
    background-image: url(Images/landingImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 120px;
    text-align: center;
    flex-direction: column;
}

.landing>h1 {
    transform: translateY(-20%);
}

.landing>.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5rem;
}

.landing>.container>a {
    width: 20%;
    height: 8%;
    position: absolute;
    top: 72%;
    display: block;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    background-color: #ffffff1a;
    backdrop-filter: blur(10px);
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#arrowDown {
    position: absolute;
    top: 86%;
}

.techtrees {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.techtrees>.imgCard {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(Images/airImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 40%;
    font-weight: 700;
    font-size: 150px;
    transition: 1s;
}

.techtrees:hover>.imgCard {
    width: 10%;
    transition: 1.2s;
}

.techtrees:hover>.imgCard:hover {
    width: 80%;
    transition: 1s;
}

.techtrees:hover>.imgCard:not(:hover)>h2 {
    color: rgba(255, 255, 255, 0);
    transition: 0.5s;
}

.techtrees>.imgCard:nth-child(2) {
    background-image: url(Images/armyImg.jpg);
    background-position: 50%;
}

.techtrees>.imgCard:nth-child(3) {
    background-image: url(Images/navyImg.jpg);
    background-position: 40%;
}

.techtrees>.imgCard>h2 {
    font-size: 75px;
    transform: translateY(350%);
    transition: 0.5s;
}