@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    color: white;
    text-decoration: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(180deg, #564B54 0%, #201F1F 100%);
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Inter'
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(transparent, #201f1f 10% 90%, transparent);
}

.mainNav {
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 8%;
    width: 60%;
    background-color: #ffffff1a;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
}

.mainNav>a {
    height: 80%;
    width: auto;
}

.mainNav>a>.logo {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.mainNav>.navSection {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mainNav>.navSection>a {
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30rem 500px 500px 500px 500px;
    gap: 50px;
    justify-content: center;
}

.container>.nation {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: rebeccapurple;
    background-image: url(Images/placeholder.png);
    background-size: 150%;
    background-repeat: no-repeat;
    animation-name: movement;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    justify-content: center;
    align-items: end;
}

.container>.ground {
    background-image: url(Images/placeholder_ground.png);
}

.container>.navy {
    background-image: url(Images/placholder_navy.png);
}

.container>.nation>h2 {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

@keyframes movement {
    0% {
        background-position: 0% 0%;
        background-size: 150%;
    }

    33% {
        background-position: 50% 50%;
        background-size: 150%;
    }

    33.0001% {
        background-position: 0% 100%;
        background-size: 175%;
    }

    55% {
        background-position: 50% 0%;
        background-size: 175%;
    }

    55.0001% {
        background-position: 100% 21%;
        background-size: 250%;
    }

    100% {
        background-position: 80% 50%;
        background-size: 250%;
    }
}