@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    color: white;
    text-decoration: none;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    color: white;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #564B54, #201F1F);
}

main {
    width: auto;
    margin: 8rem 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main>h1 {
    font-size: 5rem;
}

main>.container{
    margin-top: 3rem;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15rem;
    row-gap: 5rem;
}

main>.container>a>section{
    width: 25rem;
    height: 35rem;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

main>.container>a>section>.imgContent{
    width: 100%;
    height: 40%;
    background-image: url(../Images/notfound.png);
    background-size: cover;
    background-position: center;
    border-radius: 2rem 2rem 0 0;
}

main>.container>a>section>.txtContent{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>.container>a>section>.txtContent>h2{
    margin-top: 2rem;
    width: 80;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
}

main>.container>a>section>.txtContent>p   {
    margin: 2rem 2rem 0 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    color: black;
}

main>.container>a:nth-child(1)>section>.imgContent{
    background-image: url(../Images/newsImg/news1.jpg);
}
main>.container>a:nth-child(2)>section>.imgContent{
    background-image: url(../Images/newsImg/news2.jpg);
}
main>.container>a:nth-child(3)>section>.imgContent{
    background-image: url(../Images/newsImg/news3.jpg);
}
main>.container>a:nth-child(4)>section>.imgContent{
    background-image: url(../Images/newsImg/news4.jpg);
}
main>.container>a:nth-child(5)>section>.imgContent{
    background-image: url(../Images/newsImg/news5.jpg);
}
main>.container>a:nth-child(6)>section>.imgContent{
    background-image: url(../Images/newsImg/news6.jpg);
}
main>.container>a:nth-child(7)>section>.imgContent{
    background-image: url(../Images/newsImg/news7.jpg);
}

@media (max-width: 1100px) {
    main>.container{
        gap: 5rem;
    }
}

@media (max-width: 900px) {
    main>.container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    main>.container>a>section{
        width: 15rem;
        height: 25rem;
        background-color: white;
        border-radius: 2rem;
    }
    main>.container>a>section>.txtContent>h2{
        font-size: 1.5rem;
    }
    main>.container>a>section>.txtContent>p{
        font-size: 1rem;
    }
}